
.dataTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
  }
  
  .dataTable thead tr {
    background-color: #307ee5;
    color: #ffffff;
    text-align: center;
}
.dataTable th,
.dataTable td {
    padding: 12px 15px;
}
.dataTable tbody tr {
    border-bottom: thin solid #dddddd;
}

.dataTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}