
.dataTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
}

.dataTable thead tr {
  background-color: #307ee5;
  color: #ffffff;
  text-align: center;
}
.dataTable th,
.dataTable td {
  padding: 12px 15px;
}
.dataTable tbody tr {
  border-bottom: thin solid #dddddd;
}

.dataTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.addbutton{
  margin-top: 2.0em;
  display: inline-block;
  margin-right: 10px;
  background: #307ee5;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 38px;
  border-radius: 50px;
  border-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
}
.addbutton:hover{
  background: #fff;
color: #307ee5;
box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}
.iconbuttons{
  color:#307ee5;
  font-size: 16px; 
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.iconbuttons:hover {
  color: RoyalBlue;
} 


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SearchBarContainer{
  display: block;
    margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 26em;
  height: 3.0em;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 12px 3px #307ee5;
  overflow: hidden;
}

.SearchInputContainer{
  width: 100%;
min-height: 3em;
display: flex;
align-items: center;
position: relative;
padding: 2px 15px;
}

.SearchInput{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 21px;
  color: #12112e;
  font-weight: 500;
  border-radius: 6px;
  background-color: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.form label {
  text-align: left;
  display: block;
}
.form h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.form input, .form textarea, .form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.form button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.addbutton:hover{
  background: #fff;
color: #307ee5;
box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}
.iconbuttons{
  color:#307ee5;
  font-size: 16px; 
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.iconbuttons:hover {
  color: RoyalBlue;
} 
.input{
  color: #8b8b8b;
}
.addbutton{
  margin-top: 2.0em;
  display: inline-block;
  margin-right: 10px;
  background: #307ee5;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 38px;
  border-radius: 50px;
  border-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
}